<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TeanApp</title>
</head>
<body>
  <div class="container">
    <div class="ui card">
      <h1>Team Generator</h1>
      <ul class="list">
        <li *ngFor="let member of members">{{member}}</li>
      </ul>

      <div class="add-members-container">
        <input 
        #addMemberInput
        type="text"
        placeholder="Name"
        (input)="onInput(addMemberInput.value)"
        [value]="newMemberName"
         />
      <button (click)="addMember()">Add</button>
      </div>

      <div class="input-container"> 
        <input 
        #numberOfTeamsInput
        type="text" 
        placeholder="# of teams"
        (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
        [value]="numberOfTeams"
        />
      <button (click)="generateTeams()">Generate</button>
      </div>
      <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
    </div>

    <div *ngIf="teams.length" class="teams-container">
      <div *ngFor="let team of teams; let i=index" class="team-container">
        <h3>Team {{i+1}}</h3>
        <ul>
          <li *ngFor="let member of team">{{ member }}</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>